#main-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  width: 680px;

  footer {
    background: #f1f1f1;
    padding: 20px 30px;
    position: relative;
    @extend .cf;

    .copy {
      width: 400px;
      float: left;

      p {
        font-size: 14px;
        margin: 0;
      }
    }

    .social {
      width: 210px;
      float: right;

      ul {
        padding: 0;
        margin: 0;
        display: table;
        float: right;

        li {
          float: right;
          list-style: none;
          margin-left: 15px;

          a {
            font-size: 19px;
            text-decoration: none;
            color: #2b373b;

            &:hover {
              color: #34b233;
            }
          }
        }
      }
    }
  }
}

#content {
  background: #fff;
  flex: 1;
  padding: 30px 30px 15px;

  a {
    color: #2c383c;
    text-decoration: none;

    &:hover {
      color: #34b233;
    }
  }

  h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
  }

  h4 {
    margin: 0;
    font-size: 16px;
    color: #2c383c;
  }

  p {
    font-size: 15px;
    line-height: 24px;
    color: #828282;

    a {
      text-decoration: underline;
    }
  }
}
